/*! chota.css v0.8.0 | MIT License | github.com/jenil/chota */
:root {
  --bg-color: #ffffff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #14854F;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #333333;
  --font-family-sans: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-lightGrey) var(--bg-primary);
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
*::-webkit-scrollbar-thumb {
  background: var(--color-lightGrey);
}
body {
  background-color: var(--bg-color);
  line-height: 1.6;
  font-size: var(--font-size);
  color: var(--font-color);
  font-family: "Segoe UI", "Helvetica Neue", sans-serif; /*fallback*/
  font-family: var(--font-family-sans);
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0.35em 0 0.7em 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.85em;
}
a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover:not(.button) {
  opacity: 0.75;
}
button {
  font-family: inherit;
}
p {
  margin-top: 0;
}
blockquote {
  background-color: var(--bg-secondary-color);
  padding: 1.5rem 2rem;
  border-left: 3px solid var(--color-lightGrey);
}
dl dt {
  font-weight: bold;
}
hr {
  border: none;
  background-color: var(--color-lightGrey);
  height: 1px;
  margin: 1rem 0;
}
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
table.striped tr:nth-of-type(2n) {
  background-color: var(--bg-secondary-color);
}
td,
th {
  vertical-align: middle;
  padding: 1.2rem 0.4rem;
}
thead {
  border-bottom: 2px solid var(--color-lightGrey);
}
tfoot {
  border-top: 2px solid var(--color-lightGrey);
}
code,
kbd,
pre,
samp,
tt {
  font-family: var(--font-family-mono);
}
code,
kbd {
  padding: 0 0.4rem;
  font-size: 90%;
  white-space: pre-wrap;
  border-radius: 4px;
  padding: 0.2em 0.4em;
  background-color: var(--bg-secondary-color);
  color: var(--color-error);
}
pre {
  background-color: var(--bg-secondary-color);
  font-size: 1em;
  padding: 1rem;
  overflow-x: auto;
}
pre code {
  background: none;
  padding: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
img {
  max-width: 100%;
  width: 100%;
}
fieldset {
  border: 1px solid var(--color-lightGrey);
}
iframe {
  border: 0;
}
.container {
    max-width: var(--grid-maxWidth);
    margin: 0 auto;
    width: 100%;
    padding: 0 calc(var(--grid-gutter) / 2);
}
.row{
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    display:flex;
    flex-wrap:wrap;
    margin-top:calc(var(--bs-gutter-y) * -1);
    margin-right:calc(var(--bs-gutter-x) * -.5);
    margin-left:calc(var(--bs-gutter-x) * -.5)
}
.row>*{
    flex-shrink:0;
    width:100%;
    max-width:100%;
    padding-right:calc(var(--bs-gutter-x) * .5);
    padding-left:calc(var(--bs-gutter-x) * .5);
    margin-top:var(--bs-gutter-y)
}
.col{
    flex:1 0 0%
}
.row-cols-auto>*{
    flex:0 0 auto;
    width:auto
}
.row-cols-1>*{
    flex:0 0 auto;
    width:100%
}
.row-cols-2>*{
    flex:0 0 auto;
    width:50%
}
.row-cols-3>*{
    flex:0 0 auto;
    width:33.3333333333%
}
.row-cols-4>*{
    flex:0 0 auto;
    width:25%
}
.row-cols-5>*{
    flex:0 0 auto;
    width:20%
}
.row-cols-6>*{
    flex:0 0 auto;
    width:16.6666666667%
}
@media (min-width:576px){
    .col-sm{
        flex:1 0 0%
    }
    .row-cols-sm-auto>*{
        flex:0 0 auto;
        width:auto
    }
    .row-cols-sm-1>*{
        flex:0 0 auto;
        width:100%
    }
    .row-cols-sm-2>*{
        flex:0 0 auto;
        width:50%
    }
    .row-cols-sm-3>*{
        flex:0 0 auto;
        width:33.3333333333%
    }
    .row-cols-sm-4>*{
        flex:0 0 auto;
        width:25%
    }
    .row-cols-sm-5>*{
        flex:0 0 auto;
        width:20%
    }
    .row-cols-sm-6>*{
        flex:0 0 auto;
        width:16.6666666667%
    }
}
@media (min-width:768px){
    .col-md{
        flex:1 0 0%
    }
    .row-cols-md-auto>*{
        flex:0 0 auto;
        width:auto
    }
    .row-cols-md-1>*{
        flex:0 0 auto;
        width:100%
    }
    .row-cols-md-2>*{
        flex:0 0 auto;
        width:50%
    }
    .row-cols-md-3>*{
        flex:0 0 auto;
        width:33.3333333333%
    }
    .row-cols-md-4>*{
        flex:0 0 auto;
        width:25%
    }
    .row-cols-md-5>*{
        flex:0 0 auto;
        width:20%
    }
    .row-cols-md-6>*{
        flex:0 0 auto;
        width:16.6666666667%
    }
}
@media (min-width:992px){
    .col-lg{
        flex:1 0 0%
    }
    .row-cols-lg-auto>*{
        flex:0 0 auto;
        width:auto
    }
    .row-cols-lg-1>*{
        flex:0 0 auto;
        width:100%
    }
    .row-cols-lg-2>*{
        flex:0 0 auto;
        width:50%
    }
    .row-cols-lg-3>*{
        flex:0 0 auto;
        width:33.3333333333%
    }
    .row-cols-lg-4>*{
        flex:0 0 auto;
        width:25%
    }
    .row-cols-lg-5>*{
        flex:0 0 auto;
        width:20%
    }
    .row-cols-lg-6>*{
        flex:0 0 auto;
        width:16.6666666667%
    }
}
@media (min-width:1200px){
    .col-xl{
        flex:1 0 0%
    }
    .row-cols-xl-auto>*{
        flex:0 0 auto;
        width:auto
    }
    .row-cols-xl-1>*{
        flex:0 0 auto;
        width:100%
    }
    .row-cols-xl-2>*{
        flex:0 0 auto;
        width:50%
    }
    .row-cols-xl-3>*{
        flex:0 0 auto;
        width:33.3333333333%
    }
    .row-cols-xl-4>*{
        flex:0 0 auto;
        width:25%
    }
    .row-cols-xl-5>*{
        flex:0 0 auto;
        width:20%
    }
    .row-cols-xl-6>*{
        flex:0 0 auto;
        width:16.6666666667%
    }
}
@media (min-width:1400px){
    .col-xxl{
        flex:1 0 0%
    }
    .row-cols-xxl-auto>*{
        flex:0 0 auto;
        width:auto
    }
    .row-cols-xxl-1>*{
        flex:0 0 auto;
        width:100%
    }
    .row-cols-xxl-2>*{
        flex:0 0 auto;
        width:50%
    }
    .row-cols-xxl-3>*{
        flex:0 0 auto;
        width:33.3333333333%
    }
    .row-cols-xxl-4>*{
        flex:0 0 auto;
        width:25%
    }
    .row-cols-xxl-5>*{
        flex:0 0 auto;
        width:20%
    }
    .row-cols-xxl-6>*{
        flex:0 0 auto;
        width:16.6666666667%
    }
}
.col-auto{
    flex:0 0 auto;
    width:auto
}
.col-1{
    flex:0 0 auto;
    width:8.33333333%
}
.col-2{
    flex:0 0 auto;
    width:16.66666667%
}
.col-3{
    flex:0 0 auto;
    width:25%
}
.col-4{
    flex:0 0 auto;
    width:33.33333333%
}
.col-5{
    flex:0 0 auto;
    width:41.66666667%
}
.col-6{
    flex:0 0 auto;
    width:50%
}
.col-7{
    flex:0 0 auto;
    width:58.33333333%
}
.col-8{
    flex:0 0 auto;
    width:66.66666667%
}
.col-9{
    flex:0 0 auto;
    width:75%
}
.col-10{
    flex:0 0 auto;
    width:83.33333333%
}
.col-11{
    flex:0 0 auto;
    width:91.66666667%
}
.col-12{
    flex:0 0 auto;
    width:100%
}
.offset-1{
    margin-left:8.33333333%
}
.offset-2{
    margin-left:16.66666667%
}
.offset-3{
    margin-left:25%
}
.offset-4{
    margin-left:33.33333333%
}
.offset-5{
    margin-left:41.66666667%
}
.offset-6{
    margin-left:50%
}
.offset-7{
    margin-left:58.33333333%
}
.offset-8{
    margin-left:66.66666667%
}
.offset-9{
    margin-left:75%
}
.offset-10{
    margin-left:83.33333333%
}
.offset-11{
    margin-left:91.66666667%
}
.g-0,.gx-0{
    --bs-gutter-x:0
}
.g-0,.gy-0{
    --bs-gutter-y:0
}
.g-1,.gx-1{
    --bs-gutter-x:0.25rem
}
.g-1,.gy-1{
    --bs-gutter-y:0.25rem
}
.g-2,.gx-2{
    --bs-gutter-x:0.5rem
}
.g-2,.gy-2{
    --bs-gutter-y:0.5rem
}
.g-3,.gx-3{
    --bs-gutter-x:1rem
}
.g-3,.gy-3{
    --bs-gutter-y:1rem
}
.g-4,.gx-4{
    --bs-gutter-x:1.5rem
}
.g-4,.gy-4{
    --bs-gutter-y:1.5rem
}
.g-5,.gx-5{
    --bs-gutter-x:3rem
}
.g-5,.gy-5{
    --bs-gutter-y:3rem
}
@media (min-width:576px){
    .col-sm-auto{
        flex:0 0 auto;
        width:auto
    }
    .col-sm-1{
        flex:0 0 auto;
        width:8.33333333%
    }
    .col-sm-2{
        flex:0 0 auto;
        width:16.66666667%
    }
    .col-sm-3{
        flex:0 0 auto;
        width:25%
    }
    .col-sm-4{
        flex:0 0 auto;
        width:33.33333333%
    }
    .col-sm-5{
        flex:0 0 auto;
        width:41.66666667%
    }
    .col-sm-6{
        flex:0 0 auto;
        width:50%
    }
    .col-sm-7{
        flex:0 0 auto;
        width:58.33333333%
    }
    .col-sm-8{
        flex:0 0 auto;
        width:66.66666667%
    }
    .col-sm-9{
        flex:0 0 auto;
        width:75%
    }
    .col-sm-10{
        flex:0 0 auto;
        width:83.33333333%
    }
    .col-sm-11{
        flex:0 0 auto;
        width:91.66666667%
    }
    .col-sm-12{
        flex:0 0 auto;
        width:100%
    }
    .offset-sm-0{
        margin-left:0
    }
    .offset-sm-1{
        margin-left:8.33333333%
    }
    .offset-sm-2{
        margin-left:16.66666667%
    }
    .offset-sm-3{
        margin-left:25%
    }
    .offset-sm-4{
        margin-left:33.33333333%
    }
    .offset-sm-5{
        margin-left:41.66666667%
    }
    .offset-sm-6{
        margin-left:50%
    }
    .offset-sm-7{
        margin-left:58.33333333%
    }
    .offset-sm-8{
        margin-left:66.66666667%
    }
    .offset-sm-9{
        margin-left:75%
    }
    .offset-sm-10{
        margin-left:83.33333333%
    }
    .offset-sm-11{
        margin-left:91.66666667%
    }
    .g-sm-0,.gx-sm-0{
        --bs-gutter-x:0
    }
    .g-sm-0,.gy-sm-0{
        --bs-gutter-y:0
    }
    .g-sm-1,.gx-sm-1{
        --bs-gutter-x:0.25rem
    }
    .g-sm-1,.gy-sm-1{
        --bs-gutter-y:0.25rem
    }
    .g-sm-2,.gx-sm-2{
        --bs-gutter-x:0.5rem
    }
    .g-sm-2,.gy-sm-2{
        --bs-gutter-y:0.5rem
    }
    .g-sm-3,.gx-sm-3{
        --bs-gutter-x:1rem
    }
    .g-sm-3,.gy-sm-3{
        --bs-gutter-y:1rem
    }
    .g-sm-4,.gx-sm-4{
        --bs-gutter-x:1.5rem
    }
    .g-sm-4,.gy-sm-4{
        --bs-gutter-y:1.5rem
    }
    .g-sm-5,.gx-sm-5{
        --bs-gutter-x:3rem
    }
    .g-sm-5,.gy-sm-5{
        --bs-gutter-y:3rem
    }
}
@media (min-width:768px){
    .col-md-auto{
        flex:0 0 auto;
        width:auto
    }
    .col-md-1{
        flex:0 0 auto;
        width:8.33333333%
    }
    .col-md-2{
        flex:0 0 auto;
        width:16.66666667%
    }
    .col-md-3{
        flex:0 0 auto;
        width:25%
    }
    .col-md-4{
        flex:0 0 auto;
        width:33.33333333%
    }
    .col-md-5{
        flex:0 0 auto;
        width:41.66666667%
    }
    .col-md-6{
        flex:0 0 auto;
        width:50%
    }
    .col-md-7{
        flex:0 0 auto;
        width:58.33333333%
    }
    .col-md-8{
        flex:0 0 auto;
        width:66.66666667%
    }
    .col-md-9{
        flex:0 0 auto;
        width:75%
    }
    .col-md-10{
        flex:0 0 auto;
        width:83.33333333%
    }
    .col-md-11{
        flex:0 0 auto;
        width:91.66666667%
    }
    .col-md-12{
        flex:0 0 auto;
        width:100%
    }
    .offset-md-0{
        margin-left:0
    }
    .offset-md-1{
        margin-left:8.33333333%
    }
    .offset-md-2{
        margin-left:16.66666667%
    }
    .offset-md-3{
        margin-left:25%
    }
    .offset-md-4{
        margin-left:33.33333333%
    }
    .offset-md-5{
        margin-left:41.66666667%
    }
    .offset-md-6{
        margin-left:50%
    }
    .offset-md-7{
        margin-left:58.33333333%
    }
    .offset-md-8{
        margin-left:66.66666667%
    }
    .offset-md-9{
        margin-left:75%
    }
    .offset-md-10{
        margin-left:83.33333333%
    }
    .offset-md-11{
        margin-left:91.66666667%
    }
    .g-md-0,.gx-md-0{
        --bs-gutter-x:0
    }
    .g-md-0,.gy-md-0{
        --bs-gutter-y:0
    }
    .g-md-1,.gx-md-1{
        --bs-gutter-x:0.25rem
    }
    .g-md-1,.gy-md-1{
        --bs-gutter-y:0.25rem
    }
    .g-md-2,.gx-md-2{
        --bs-gutter-x:0.5rem
    }
    .g-md-2,.gy-md-2{
        --bs-gutter-y:0.5rem
    }
    .g-md-3,.gx-md-3{
        --bs-gutter-x:1rem
    }
    .g-md-3,.gy-md-3{
        --bs-gutter-y:1rem
    }
    .g-md-4,.gx-md-4{
        --bs-gutter-x:1.5rem
    }
    .g-md-4,.gy-md-4{
        --bs-gutter-y:1.5rem
    }
    .g-md-5,.gx-md-5{
        --bs-gutter-x:3rem
    }
    .g-md-5,.gy-md-5{
        --bs-gutter-y:3rem
    }
}
@media (min-width:992px){
    .col-lg-auto{
        flex:0 0 auto;
        width:auto
    }
    .col-lg-1{
        flex:0 0 auto;
        width:8.33333333%
    }
    .col-lg-2{
        flex:0 0 auto;
        width:16.66666667%
    }
    .col-lg-3{
        flex:0 0 auto;
        width:25%
    }
    .col-lg-4{
        flex:0 0 auto;
        width:33.33333333%
    }
    .col-lg-5{
        flex:0 0 auto;
        width:41.66666667%
    }
    .col-lg-6{
        flex:0 0 auto;
        width:50%
    }
    .col-lg-7{
        flex:0 0 auto;
        width:58.33333333%
    }
    .col-lg-8{
        flex:0 0 auto;
        width:66.66666667%
    }
    .col-lg-9{
        flex:0 0 auto;
        width:75%
    }
    .col-lg-10{
        flex:0 0 auto;
        width:83.33333333%
    }
    .col-lg-11{
        flex:0 0 auto;
        width:91.66666667%
    }
    .col-lg-12{
        flex:0 0 auto;
        width:100%
    }
    .offset-lg-0{
        margin-left:0
    }
    .offset-lg-1{
        margin-left:8.33333333%
    }
    .offset-lg-2{
        margin-left:16.66666667%
    }
    .offset-lg-3{
        margin-left:25%
    }
    .offset-lg-4{
        margin-left:33.33333333%
    }
    .offset-lg-5{
        margin-left:41.66666667%
    }
    .offset-lg-6{
        margin-left:50%
    }
    .offset-lg-7{
        margin-left:58.33333333%
    }
    .offset-lg-8{
        margin-left:66.66666667%
    }
    .offset-lg-9{
        margin-left:75%
    }
    .offset-lg-10{
        margin-left:83.33333333%
    }
    .offset-lg-11{
        margin-left:91.66666667%
    }
    .g-lg-0,.gx-lg-0{
        --bs-gutter-x:0
    }
    .g-lg-0,.gy-lg-0{
        --bs-gutter-y:0
    }
    .g-lg-1,.gx-lg-1{
        --bs-gutter-x:0.25rem
    }
    .g-lg-1,.gy-lg-1{
        --bs-gutter-y:0.25rem
    }
    .g-lg-2,.gx-lg-2{
        --bs-gutter-x:0.5rem
    }
    .g-lg-2,.gy-lg-2{
        --bs-gutter-y:0.5rem
    }
    .g-lg-3,.gx-lg-3{
        --bs-gutter-x:1rem
    }
    .g-lg-3,.gy-lg-3{
        --bs-gutter-y:1rem
    }
    .g-lg-4,.gx-lg-4{
        --bs-gutter-x:1.5rem
    }
    .g-lg-4,.gy-lg-4{
        --bs-gutter-y:1.5rem
    }
    .g-lg-5,.gx-lg-5{
        --bs-gutter-x:3rem
    }
    .g-lg-5,.gy-lg-5{
        --bs-gutter-y:3rem
    }
}
@media (min-width:1200px){
    .col-xl-auto{
        flex:0 0 auto;
        width:auto
    }
    .col-xl-1{
        flex:0 0 auto;
        width:8.33333333%
    }
    .col-xl-2{
        flex:0 0 auto;
        width:16.66666667%
    }
    .col-xl-3{
        flex:0 0 auto;
        width:25%
    }
    .col-xl-4{
        flex:0 0 auto;
        width:33.33333333%
    }
    .col-xl-5{
        flex:0 0 auto;
        width:41.66666667%
    }
    .col-xl-6{
        flex:0 0 auto;
        width:50%
    }
    .col-xl-7{
        flex:0 0 auto;
        width:58.33333333%
    }
    .col-xl-8{
        flex:0 0 auto;
        width:66.66666667%
    }
    .col-xl-9{
        flex:0 0 auto;
        width:75%
    }
    .col-xl-10{
        flex:0 0 auto;
        width:83.33333333%
    }
    .col-xl-11{
        flex:0 0 auto;
        width:91.66666667%
    }
    .col-xl-12{
        flex:0 0 auto;
        width:100%
    }
    .offset-xl-0{
        margin-left:0
    }
    .offset-xl-1{
        margin-left:8.33333333%
    }
    .offset-xl-2{
        margin-left:16.66666667%
    }
    .offset-xl-3{
        margin-left:25%
    }
    .offset-xl-4{
        margin-left:33.33333333%
    }
    .offset-xl-5{
        margin-left:41.66666667%
    }
    .offset-xl-6{
        margin-left:50%
    }
    .offset-xl-7{
        margin-left:58.33333333%
    }
    .offset-xl-8{
        margin-left:66.66666667%
    }
    .offset-xl-9{
        margin-left:75%
    }
    .offset-xl-10{
        margin-left:83.33333333%
    }
    .offset-xl-11{
        margin-left:91.66666667%
    }
    .g-xl-0,.gx-xl-0{
        --bs-gutter-x:0
    }
    .g-xl-0,.gy-xl-0{
        --bs-gutter-y:0
    }
    .g-xl-1,.gx-xl-1{
        --bs-gutter-x:0.25rem
    }
    .g-xl-1,.gy-xl-1{
        --bs-gutter-y:0.25rem
    }
    .g-xl-2,.gx-xl-2{
        --bs-gutter-x:0.5rem
    }
    .g-xl-2,.gy-xl-2{
        --bs-gutter-y:0.5rem
    }
    .g-xl-3,.gx-xl-3{
        --bs-gutter-x:1rem
    }
    .g-xl-3,.gy-xl-3{
        --bs-gutter-y:1rem
    }
    .g-xl-4,.gx-xl-4{
        --bs-gutter-x:1.5rem
    }
    .g-xl-4,.gy-xl-4{
        --bs-gutter-y:1.5rem
    }
    .g-xl-5,.gx-xl-5{
        --bs-gutter-x:3rem
    }
    .g-xl-5,.gy-xl-5{
        --bs-gutter-y:3rem
    }
}
@media (min-width:1400px){
    .col-xxl-auto{
        flex:0 0 auto;
        width:auto
    }
    .col-xxl-1{
        flex:0 0 auto;
        width:8.33333333%
    }
    .col-xxl-2{
        flex:0 0 auto;
        width:16.66666667%
    }
    .col-xxl-3{
        flex:0 0 auto;
        width:25%
    }
    .col-xxl-4{
        flex:0 0 auto;
        width:33.33333333%
    }
    .col-xxl-5{
        flex:0 0 auto;
        width:41.66666667%
    }
    .col-xxl-6{
        flex:0 0 auto;
        width:50%
    }
    .col-xxl-7{
        flex:0 0 auto;
        width:58.33333333%
    }
    .col-xxl-8{
        flex:0 0 auto;
        width:66.66666667%
    }
    .col-xxl-9{
        flex:0 0 auto;
        width:75%
    }
    .col-xxl-10{
        flex:0 0 auto;
        width:83.33333333%
    }
    .col-xxl-11{
        flex:0 0 auto;
        width:91.66666667%
    }
    .col-xxl-12{
        flex:0 0 auto;
        width:100%
    }
    .offset-xxl-0{
        margin-left:0
    }
    .offset-xxl-1{
        margin-left:8.33333333%
    }
    .offset-xxl-2{
        margin-left:16.66666667%
    }
    .offset-xxl-3{
        margin-left:25%
    }
    .offset-xxl-4{
        margin-left:33.33333333%
    }
    .offset-xxl-5{
        margin-left:41.66666667%
    }
    .offset-xxl-6{
        margin-left:50%
    }
    .offset-xxl-7{
        margin-left:58.33333333%
    }
    .offset-xxl-8{
        margin-left:66.66666667%
    }
    .offset-xxl-9{
        margin-left:75%
    }
    .offset-xxl-10{
        margin-left:83.33333333%
    }
    .offset-xxl-11{
        margin-left:91.66666667%
    }
    .g-xxl-0,.gx-xxl-0{
        --bs-gutter-x:0
    }
    .g-xxl-0,.gy-xxl-0{
        --bs-gutter-y:0
    }
    .g-xxl-1,.gx-xxl-1{
        --bs-gutter-x:0.25rem
    }
    .g-xxl-1,.gy-xxl-1{
        --bs-gutter-y:0.25rem
    }
    .g-xxl-2,.gx-xxl-2{
        --bs-gutter-x:0.5rem
    }
    .g-xxl-2,.gy-xxl-2{
        --bs-gutter-y:0.5rem
    }
    .g-xxl-3,.gx-xxl-3{
        --bs-gutter-x:1rem
    }
    .g-xxl-3,.gy-xxl-3{
        --bs-gutter-y:1rem
    }
    .g-xxl-4,.gx-xxl-4{
        --bs-gutter-x:1.5rem
    }
    .g-xxl-4,.gy-xxl-4{
        --bs-gutter-y:1.5rem
    }
    .g-xxl-5,.gx-xxl-5{
        --bs-gutter-x:3rem
    }
    .g-xxl-5,.gy-xxl-5{
        --bs-gutter-y:3rem
    }
}
fieldset {
  padding: 0.5rem 2rem;
}
legend {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1rem;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]),
select,
textarea,
textarea[type="text"] {
  font-family: inherit;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-lightGrey);
  font-size: 1em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: block;
  width: 100%;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]):not(:disabled):hover,
select:hover,
textarea:hover,
textarea[type="text"]:hover {
  border-color: var(--color-grey);
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]):focus,
select:focus,
textarea:focus,
textarea[type="text"]:focus {
  outline: none;
  border-color: var(--color-primary);
  -webkit-box-shadow: 0 0 1px var(--color-primary);
          box-shadow: 0 0 1px var(--color-primary);
}
input.error:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]),
textarea.error {
  border-color: var(--color-error);
}
input.success:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]),
textarea.success {
  border-color: var(--color-success);
}
select {
  -webkit-appearance: none;
  background: #f3f3f6 no-repeat 100%;
  background-size: 1ex;
  background-origin: content-box;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='40' fill='%23555'><polygon points='0,0 60,0 30,40'/></svg>");
}
[type="checkbox"],
[type="radio"] {
  width: 1.6rem;
  height: 1.6rem;
}
/* BUTTONS */
.button,
[type="button"],
[type="reset"],
[type="submit"],
button {
  padding: 1rem 2.5rem;
  color: var(--color-darkGrey);
  background: var(--color-lightGrey);
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: var(--font-size);
  line-height: 1;
  text-align: center;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: inline-block;
  cursor: pointer;
}
.grouped {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.grouped > *:not(:last-child) {
  margin-right: 16px;
}
.grouped.gapless > * {
  margin: 0 0 0 -1px !important;
  border-radius:0 !important;
}
.grouped.gapless > *:first-child {
  margin: 0 !important;
  border-radius:4px 0 0 4px !important;
}
.grouped.gapless > *:last-child {
  border-radius:0 4px 4px 0 !important;
}
.button + .button {
  margin-left: 1rem;
}
.button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover,
button:hover {
  opacity: 0.8;
}
.button:active,
[type="button"]:active,
[type="reset"]:active,
[type="submit"]:active,
button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
input:disabled,
button:disabled,
input:disabled:hover,
button:disabled:hover {
  opacity: 0.4;
  cursor: not-allowed;
}
.button.primary,
.button.secondary,
.button.dark,
.button.error,
.button.success,
[type="submit"] {
  color: #fff;
  z-index: 1; /* hightlight from other button's border when grouped */
  background-color: #000;
  background-color: var(--color-primary);
}
.button.secondary {
  background-color: var(--color-grey);
}
.button.dark {
  background-color: var(--color-darkGrey);
}
.button.error {
  background-color: var(--color-error);
}
.button.success {
  background-color: var(--color-success);
}
.button.outline {
  background-color: transparent;
  border-color: var(--color-lightGrey);
}
.button.outline.primary {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.button.outline.secondary {
  border-color: var(--color-grey);
  color: var(--color-grey);
}
.button.outline.dark {
  border-color: var(--color-darkGrey);
  color: var(--color-darkGrey);
}
.button.clear {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary);
}
.button.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button.icon > img {
  margin-left: 2px;
}
.button.icon-only {
  padding: 1rem;
}
::-webkit-input-placeholder {
  color: #bdbfc4;
}
::-moz-placeholder {
  color: #bdbfc4;
}
:-ms-input-placeholder {
  color: #bdbfc4;
}
::-ms-input-placeholder {
  color: #bdbfc4;
}
::placeholder {
  color: #bdbfc4;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 5rem;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}
.nav img {
    /* max-height: 3rem; */
    max-height: 5rem;
}
.nav>.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.nav-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.nav-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
@media screen and (max-width: 480px) {
    .nav,
    .nav>.container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .nav-center,
    .nav-left,
    .nav-right {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
.nav a,
.nav .brand {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 2rem;
    color: var(--color-darkGrey);
}
.nav [aria-current="page"]:not(.button),
.nav .active:not(.button) {
    color: #000; /* fallback */
    color: var(--color-primary);
}
.nav .brand {
    font-size: 1.75em;
    padding-top: 0;
    padding-bottom: 0;
}
.nav .brand img {
    padding-right: 1rem;
}
.nav .button {
    margin: auto 1rem;
}
.card {
  padding: 1rem 2rem;
  border-radius: 4px;
  background: var(--bg-color);
  -webkit-box-shadow: 0 1px 3px var(--color-grey);
          box-shadow: 0 1px 3px var(--color-grey);
}
.card p:last-child {
  margin: 0;
}
.card header > * {
  margin-top: 0;
  margin-bottom: 1rem;
}
.tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.tabs a {
    text-decoration: none;
}
.tabs > .dropdown > summary,
.tabs > a {
    padding: 1rem 2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    color: var(--color-darkGrey);
    /* border-bottom: 2px solid var(--color-lightGrey); */
    box-shadow: 0 2px 0 var(--color-lightGrey);
    text-align: center;
}
.tabs > a[aria-current="page"],
.tabs > a.active,
.tabs > a:hover {
    opacity: 1;
    /* border-bottom: 2px solid var(--color-darkGrey); */
    box-shadow: 0 2px 0 var(--color-darkGrey);
}
.tabs > a[aria-current="page"],
.tabs > a.active {
    border-color: var(--color-primary);
}
.tabs.is-full a {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}
.tag {
  display: inline-block;
  border: 1px solid var(--color-lightGrey);
  text-transform: uppercase;
  color: var(--color-grey);
  padding: 0.5rem;
  line-height: 1;
  letter-spacing: 0.5px;
}
.tag.is-small {
  padding: 0.4rem;
  font-size: 0.75em;
}
.tag.is-large {
  padding: 0.7rem;
  font-size: 1.125em;
}
.tag+.tag {
  margin-left: 1rem;
}
details.dropdown {
  position: relative;
  display: inline-block;
}
details.dropdown > :last-child {
  position: absolute;
  left: 0;
  white-space: nowrap;
}
/* Colors */
.bg-primary {
    background-color: var(--color-primary) !important;
}
.bg-light {
    background-color: var(--color-lightGrey) !important;
}
.bg-dark {
    background-color: var(--color-darkGrey) !important;
}
.bg-grey {
    background-color: var(--color-grey) !important;
}
.bg-error {
    background-color: var(--color-error) !important;
}
.bg-success {
    background-color: var(--color-success) !important;
}
.bd-primary {
    border: 1px solid var(--color-primary) !important;
}
.bd-light {
    border: 1px solid var(--color-lightGrey) !important;
}
.bd-dark {
    border: 1px solid var(--color-darkGrey) !important;
}
.bd-grey {
    border: 1px solid var(--color-grey) !important;
}
.bd-error {
    border: 1px solid var(--color-error) !important;
}
.bd-success {
    border: 1px solid var(--color-success) !important;
}
.text-primary {
    color: var(--color-primary) !important;
}
.text-light {
    color: var(--color-lightGrey) !important;
}
.text-dark {
    color: var(--color-darkGrey) !important;
}
.text-grey {
    color: var(--color-grey) !important;
}
.text-error {
    color: var(--color-error) !important;
}
.text-success {
    color: var(--color-success) !important;
}
.text-white {
    color: #fff !important;
}
/* Position & alignment */
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.is-full-screen {
    width: 100%;
    min-height: 100vh;
}
.is-full-width {
    width: 100% !important;
}
.is-vertical-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.is-horizontal-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.is-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.is-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.is-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.is-fixed {
    position: fixed;
    width: 100%;
}
.is-paddingless {
    padding: 0 !important;
}
.is-marginless {
    margin: 0 !important;
}
.is-pointer {
    cursor: pointer !important;
}
.is-rounded {
    border-radius: 100%;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.is-hidden {
    display: none !important;
}
@media screen and (max-width: 599px) {
    .hide-xs {
        display: none !important;
    }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
    .hide-sm {
        display: none !important;
    }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
    .hide-md {
        display: none !important;
    }
}
@media screen and (min-width: 1200px) {
    .hide-lg {
        display: none !important;
    }
}
@media print {
    .hide-pr {
        display: none !important;
    }
}
